


<main class="container flex-shrink-0">
  <h2 class="text-center mt-4 text-capitalize"><span class="fw-light">Article: </span><%= @article.title %></h2>
  <div class="row justify-content-md-center mt-5">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-body rounded">
        <div class="card-header">
          Created by <span class="fst-italic"><%= @article.user.username %></span>
          <%= link_to gravatar_for(@article.user, size: 10), user_path(@article.user) %>

          <%if @article.categories.any? %>
            <div class="mt-2">

            <%= render @article.categories  %>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text text-start"><%= simple_format(@article.description.capitalize) %></div>

          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article.id), method: :edit, class: "btn btn-outline-info" %>
            <%= link_to "Delete", article_path(@article.id), data: {turbo_method: :delete, turbo_confirm:'Are you sure?'}, class: "btn btn-outline-danger" %>
          <% end %>

          <%= link_to "Return", articles_path, {class: "btn btn-outline-success"} %>
        </div>
        <div class="card-footer text-muted">
          <small>
            Created <%= time_ago_in_words(@article.created_at) %> ago,
            edited <%= time_ago_in_words(@article.updated_at) %> ago
          </small>
        </div>
      </div>
    </div>
  </div>
</main>



